<!DOCTYPE html>
<html>
<head>
    <title>Order</title>
</head>
<body>
<h3>{{ profile.group }}</h3>
<h3>{{ order.user.username }}</h3>

<table>
    <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
        {% for prod in products %}
            <tr>
                <td>{{ prod.product.product_number }}</td>
                <td>{{ prod.product.name }}</td>
                <td>{{ prod.quantity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if not order.taken %}
<a href="/fulfillment/{{ order.pk }}/take/"><button>Take Order</button></a>
{% elif not order.filled %}
<a href="/fulfillment/{{ order.pk }}/fill/"><button>Filled</button></a>
{% endif %}

</body>
</html>